<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Attendance</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body>
<a href="/attendance">Back</a>
<form>
    <input type="hidden" id="id" name="id" value="" />
    <input type="text" id="studentId" name="studentId" placeholder="studentId" />
    <input type="date" id="date" name="date" placeholder="date" />
    <input type="text" id="classId" name="classId" placeholder="classId" />
    <input type="text" id="attendance" name="attendance" placeholder="attendance(0,1)" />
    <button type="submit">Submit</button>
</form>
<script>
        function convertFormToJSON(form) {
  const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
  const json = {};
  $.each(array, function () {
    json[this.name] = this.value || "";
  });
  return json;
}
        $( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            const data = convertFormToJSON(event.target);
            console.log(data)
            $.ajax({
                url: "/attendance/create",
                type: 'POST',  // http method
                contentType: "application/json",
                data: JSON.stringify(data),  // data to submit
                success: function (data, status, xhr) {
                    alert("Element was added");
                },
                error: () => {
                    alert("ERROR");
                }
            })
        })
    </script>
</body>
</html>